<title>Akun Guru Anda </title>
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">


<center class="wrapper" style="width: 100%;margin-top: 1px;padding-bottom: 48px;">
   
    <body>
        <div class="main"
            style="margin-top: 10px;width: 600px;font-family: arial;background-color: #F3F3F5;display: inline-block;padding: 10px;padding-bottom: 20px;">
            <h2 class="title" style="font-size: 40px;font-weight: bolder;padding: 1px;color: #232628;">
                Akun Anda
            </h2><br>



            <div class="message" style="width: 478px;text-align: left;">
                <p style="font-size: 17px;">Salam Ibu/Bapak,</p>
                <p style="font-size: 17px;">Berikut akun anda untuk mengakses platform Sekoola!</p>

                <div class="whiteContainer"
                    style="margin-top: 10px;margin-bottom: 15px;padding: 10px;background-color: #FFFFFF;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                    <table width="100%" style="text-align: left;">
                        <tr width=:100%>
                            <td width="50%">
                                E-mail 
                            </td>
                            <td width="50%">
                                : {{email}}
                            </td>
                        </tr>
                        <tr width=:100%>
                            <td width="50%">
                             Password
                            </td>
                            <td width="50%">
                                : {{rawPassword}}
                            </td>
                        </tr>
                    </table>
                </div>
           
            </div>

         
        </div>
    </body>

    
</center>